<div class="amazlet-box" style="margin-bottom:0px;">
<div class="amazlet-image" style="float:left;margin:0px 12px 1px 0px;">
<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4774176435/amazon0ab-22/ref=nosim/" name="amazletlink" target="_blank"><img src="http://ecx.images-amazon.com/images/I/51jKJMUd%2BcL._SL160_.jpg" alt="あなたの知らない超絶技巧プログラミングの世界" style="border: none;" /></a>
</div>
<div class="amazlet-info" style="line-height:120%; margin-bottom: 10px">
<div class="amazlet-name" style="margin-bottom:10px;line-height:120%"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4774176435/amazon0ab-22/ref=nosim/" name="amazletlink" target="_blank">あなたの知らない超絶技巧プログラミングの世界</a>
<div class="amazlet-powered-date" style="font-size:80%;margin-top:5px;line-height:120%">posted with <a href="http://www.amazlet.com/" title="amazlet" target="_blank">amazlet</a> at 15.09.01
</div>
</div>
<div class="amazlet-detail">遠藤 侑介 <br />技術評論社 <br />売り上げランキング: 3,000<br />
</div>
<div class="amazlet-sub-info" style="float: left;">
<div class="amazlet-link" style="margin-top: 5px"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4774176435/amazon0ab-22/ref=nosim/" name="amazletlink" target="_blank">Amazon.co.jpで詳細を見る</a>
</div>
</div>
</div>
<div class="amazlet-footer" style="clear: left">
</div>
</div>
